.contact {
  display: grid;

  --columns: $contact-columns-mobile;

  grid-template-columns: repeat(var(--columns), 1fr);
  gap: $contact-row-gap $contact-column-gap;

  p{
    margin: 0;
  }

  &__title {
    grid-column: 1 / -1;
    text-align: center;
    margin: 0;
    font-size: $font-size-xl;
    line-height: $line-height-l;
    font-weight: $contact-text-font-weight;
    letter-spacing: $contact-title-letter-spacing;
  }

  &__avenue,
  &__cloisters {
    display: flex;
    flex-direction: column;
    font-weight: $contact-text-font-weight;
    grid-column: 1 / -1;

    &-title {
      font-size: $font-size-m;
    }
    &-text {
      font-weight: $fontWeightMin;
      font-size: $font-size-s;
      padding-bottom: 4px;
    }
    &--bold {
      padding-bottom: $contact-padding-bold;
    }
    &--norm {
      padding-bottom: $contact-padding-norm;
    }
  }

  &__form{
    display: flex;
    flex-direction: column;
    grid-column: 1 / -1;

    &-message {
      background-color: #F8F8FA;
      border: transparent;
      resize: none;
      padding: 14px 16px;
      height: $contact-input-height;
      box-sizing: border-box;
      font-size: $font-size-s;
      font-weight: $fontWeightMin;

      &::placeholder {
        font-family: $fontFamily;
        color: #999;
        font-size: $font-size-s;
        font-weight: $fontWeightMin;
      }
    }

    &-button{
      grid-column: 1/3;
      height: $contact-button-height;
      background-color: $accent-main;
      color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 32px;
      cursor: pointer;
    }

    &--name,
    &--email{
      margin-bottom: 16px;
    }

    &--text{
      height: $contact-textarea-height;
    }
  }

  @include on-tablet {
    --columns: $contact-columns-tablet;

    &__avenue {
      grid-column: 1 / 4;
      grid-row: 2/4;
    }

    &__cloisters {
      grid-column: 1 / 4;
      grid-row: 3;
    }

    &__form {
      grid-column: 4 / -1;
      grid-row: 2/4;
    }
  }

  @include on-desktop {
    --columns: $contact-columns-desktop;

    &__avenue {
      grid-column: 1 / 4;
      grid-row: 2;
    }

    &__cloisters {
      grid-column: 4 / 7;
      grid-row: 2;
    }

    &__form {
      grid-column: 8 / 12;
      grid-row: 2;
    }
  }
}
