.exhibition {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: $exhibition-column-gap;
  row-gap: $exhibition-row-gap;

  --columns: $exhibition-columns-mobile;

  &__text {
    grid-column: 1 / -1;
    font-size: $font-size-m;
    line-height: $line-height-m;
    font-weight: $fontWeightMin;
    margin: 0;

    &--red {
      color: $accent-main;
    }

    &--bold {
      font-weight: bold;
    }

    &--subtitle {
      width: 325px;
      margin: 0;
    }
  }

  &__title {
    margin: 0;
    font-size: $font-size-xl;
    line-height: $line-height-l;
    font-weight: $exhibition-text-font-weight;
    letter-spacing: $exhibition-title-letter-spacing;
  }

  &__header {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: $exhibition-header-row-gap;
    margin-top: calc(40px - 48px);
  }

  &__button{
    grid-column: 1/3;
    height: $exhibition-button-height;
    background-color: $accent-main;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    width: 100%;
    object-fit: cover;
    display: block;
  }

  &__image--1,
  &__image--2,
  &__image--6,
  &__image--7 {
    height: $exhibition-image-height-mobile-1-2-6-7;
  }

  &__image--3,
  &__image--4,
  &__image--5 {
    height: $exhibition-image-height-mobile-3-4-5;
  }

  &__image--1 { grid-column: 1 / 2; }
  &__image--2 { grid-column: 2 / 3; }
  &__image--6 { grid-column: 1 / 2; }
  &__image--7 { grid-column: 2 / 3; }

  &__group-three {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 8px;
  }

  @include onTablet {
    --columns: $exhibition-columns-tablet;

    &__header {
      grid-column: 2 / 6;
    }

    &__button{
      grid-column: 2/6;
    }

    &__group-three {
      display: contents;
    }

    &__image--1 { grid-column: 1 / 5; height: $exhibition-image-height-tablet-1-2-6-7; }
    &__image--2 { grid-column: 5 / 7; height: $exhibition-image-height-tablet-1-2-6-7; }
    &__image--3 { grid-column: 1 / 4; height: $exhibition-image-height-tablet-3-4; }
    &__image--4 { grid-column: 4 / 7; height: $exhibition-image-height-tablet-3-4; }
    &__image--5 { display: none; }
    &__image--6 { grid-column: 1 / 3; height: $exhibition-image-height-tablet-1-2-6-7; }
    &__image--7 { grid-column: 3 / 7; height: $exhibition-image-height-tablet-1-2-6-7; }
  }

  @include onDesktop {
    --columns: $exhibition-columns-desktop;

    &__button{
      grid-column: 5/9;
    }

    &__header {
      grid-column: 5 / 9;
    }

    &__group-three {
      display: contents;
    }

    &__image--1 { grid-column: 1 / 9; height: $exhibition-image-height-desktop-all; }
    &__image--2 { grid-column: 9 / 13; height: $exhibition-image-height-desktop-all; }
    &__image--3 { grid-column: 1 / 5; height: $exhibition-image-height-desktop-all; }
    &__image--4 { grid-column: 5 / 9; height: $exhibition-image-height-desktop-all; }
    &__image--5 { display: block; grid-column: 9 / 13; height: $exhibition-image-height-desktop-all; }
    &__image--6 { grid-column: 1 / 5; height: $exhibition-image-height-desktop-all; }
    &__image--7 { grid-column: 5 / 13; height: $exhibition-image-height-desktop-all; }
  }
}
