.exhibition {
  a{
    margin: 0;
    padding: 0;
  }

  display: grid;
  gap: $exhibition-row-gap $exhibition-column-gap;

  grid-template-columns: repeat($exhibition-columns-mobile, 1fr);

  &__text {
    grid-column: 1 / -1;
    font-size: $font-size-m;
    line-height: $line-height-m;
    font-weight: $font-weight-min;
    margin: 0;

    &--red {
      color: $accent-main;
    }

    &--bold {
      font-weight: bold;
    }

    &--subtitle {
      width: 325px;
      margin: 0;
    }
  }

  &__title {
    margin: 0;
    font-size: $font-size-xl;
    line-height: $line-height-l;
    font-weight: $exhibition-text-font-weight;
    letter-spacing: $exhibition-title-letter-spacing;
  }

  &__header {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: $exhibition-header-row-gap;
    margin-top: calc(40px - 48px);
  }

  &__button{
    grid-column: 1/3;
    height: $exhibition-button-height;
    background-color: $accent-main;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    font-family: $font-family;
    font-weight: $font-weight-med;
    font-size: $font-size-m;

    &:hover{
      background-color: $button-hover-color;
    }

    &:active{
      background-color: $button-pressed-color;
    }
  }

  &__link {
    display: block;
    overflow: hidden;

    transition: transform 0.4s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &__link--1,
  &__link--2,
  &__link--6,
  &__link--7 {
    height: $exhibition-image-height-mobile-1-2-6-7;
  }

  &__link--3,
  &__link--4,
  &__link--5 {
    height: $exhibition-image-height-mobile-3-4-5;
  }

  &__link--1 { grid-column: 1 / 2; }
  &__link--2 { grid-column: 2 / 3; }
  &__link--6 { grid-column: 1 / 2; }
  &__link--7 { grid-column: 2 / 3; }

  &__group-three {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 8px;
  }

  @include on-tablet {
    grid-template-columns: repeat($exhibition-columns-tablet, 1fr);

    &__header {
      grid-column: 2 / 6;
    }

    &__button{
      grid-column: 2/6;
    }

    &__group-three {
      display: contents;
    }

    &__link--1 {
      grid-column: 1 / 5;
      height: $exhibition-image-height-tablet-1-2-6-7;
    }
    &__link--2 {
      grid-column: 5 / 7;
      height: $exhibition-image-height-tablet-1-2-6-7;
    }
    &__link--3 {
      grid-column: 1 / 4;
      height: $exhibition-image-height-tablet-3-4;
    }
    &__link--4 {
      grid-column: 4 / 7;
      height: $exhibition-image-height-tablet-3-4;
    }
    &__link--5 { display: none; }
    &__link--6 {
      grid-column: 1 / 3;
      height: $exhibition-image-height-tablet-1-2-6-7;
    }
    &__link--7 {
      grid-column: 3 / 7;
      height: $exhibition-image-height-tablet-1-2-6-7;
    }
  }

  @include on-desktop {
    grid-template-columns: repeat($exhibition-columns-desktop, 1fr);

    &__button{
      grid-column: 5/9;
    }

    &__header {
      grid-column: 5 / 9;
    }

    &__group-three {
      display: contents;
    }

    &__link--1 {
      grid-column: 1 / 9;
      height: $exhibition-image-height-desktop-all;
    }
    &__link--2 {
      grid-column: 9 / 13;
      height: $exhibition-image-height-desktop-all;
    }
    &__link--3 {
      grid-column: 1 / 5;
      height: $exhibition-image-height-desktop-all;
    }
    &__link--4 {
      grid-column: 5 / 9;
      height: $exhibition-image-height-desktop-all;
    }
    &__link--5 {
      display: block;
      grid-column: 9 / 13;
      height: $exhibition-image-height-desktop-all;
    }
    &__link--6 {
      grid-column: 1 / 5;
      height: $exhibition-image-height-desktop-all;
    }
    &__link--7 {
      grid-column: 5 / 13;
      height: $exhibition-image-height-desktop-all;
    }
  }
}
