.footer {
  width: 100%;
  height: 180px;
  text-align: center;

  background-image: url(../images/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include onTablet {
    height: 359px;
  }

  @include onDesktop {
    height: 359px;
  }
}
