.header{
  box-sizing: border-box;
  padding: $header-padding-mobile;
  height: 100vh;
  background-image: url('../images/header-bg.png');
  background-size: cover;
  background-position: center;

  &__title {
    margin-top: map.get($header-title-margin, mobile);
    justify-self: center;
    text-align: center;
    font-size: map.get($header-font-size, mobile);
    font-weight: $header-title-font-weight;
    line-height: map.get($header-line-height, mobile);
    color: $header-title-color;
    font-family: $font-family-header;
  }

  @include on-tablet {
    &__title{
      margin-top: map.get($header-title-margin, tablet);
      font-size: map.get($header-font-size, tablet);
      line-height: map.get($header-line-height, tablet);
    }
  }

  @include on-desktop {
    &__title{
      margin-top: map.get($header-title-margin, mobile);
      font-size: map.get($header-font-size, mobile);
      line-height: map.get($header-line-height, mobile);
    }
  }
}