.main{
  padding-inline: $section-gap-inline-m;

  & section{
    margin-top: $section-gap-m;
  }

  & section + section {
    margin-block: $section-gap-m;
  }

  @include on-tablet{
    padding-inline: $section-gap-inline-t;

    & section{
      margin-top: $section-gap-t;
    }

    & section + section {
      margin-block: $section-gap-t;
    }
  }

  @include on-desktop{
    padding-inline: $section-gap-inline-d;

    & section{
      margin-top: $section-gap-d;
    }

    & section + section {
      margin-block: $section-gap-d;
    }
  }
}