.main{
  padding-inline: $sectionGapInlineM;

  & section{
    margin-top: $sectionGapM;
  }

  & section + section {
    margin-block: $sectionGapM;
  }

  @include on-tablet{
    padding-inline: $sectionGapInlineT;

    & section{
      margin-top: $sectionGapT;
    }

    & section + section {
      margin-block: $sectionGapT;
    }
  }

  @include on-desktop{
    padding-inline: $sectionGapInlineD;

    & section{
      margin-top: $sectionGapD;
    }

    & section + section {
      margin-block: $sectionGapD;
    }
  }
}