.menu{
  box-sizing: border-box;
  padding: $menu-padding-mobile;
  height: 100vh;
  background-color: $accent-main;
  font-weight: $menu-text-font-weight;
  text-transform: uppercase;
  color: $white;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  opacity: 0;
  pointer-events: none;

  &:target{
    opacity: 1;
    pointer-events: all;
  }

  &__content{
    padding: $margin-mobile;

    @include on-tablet {
      padding: $margin-tablet;
    }

    @include on-desktop {
      padding: $margin-desktop;
    }
  }

  &__numbers{
    display: flex;
    flex-direction: column;
    row-gap: $menu-row-gap;
    margin-bottom: $font-size-m;
  }

  &__phone{
    display: block;
    color: inherit;
    text-decoration: none;
    font-size: $font-size-m;
    line-height: $line-height-m;
  }

  &__call-to-order{
    font-size: $font-size-xs;
    line-height: $line-height-xs;
    letter-spacing: $lsBig;
    color: inherit;
    padding-bottom: $menu-call-to-order-padding-bottom;
    border-bottom: 1px solid $white;
    width: fit-content;
  }
}