@use "sass:list";

.top-bar{
  p{
    margin: 0;
  }

  a{
    text-decoration: none;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $margin-mobile;

  &__info {
    text-align: right;
    display: flex;
    flex-direction: column;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease;
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: $topbar-icons-gap-mobile;
  }

  &__logo{
    display: flex;
    width: list.nth($topbar-logo-mobile, 1);
    height: list.nth($topbar-logo-mobile, 2);
  }

  &__place,
  &__phone{
    font-size: $font-size-s;
    line-height: $line-height-xs;
    font-weight: $topbar-text-font-weight;
    color: $topbar-text-color;
  }

  &__phone{
    &:hover{
      color: $accent-main;
    }
  }

  &__place{
    &--gap{
      padding-top: $topbar-place-gap;
    }
  }

  @include on-tablet {
    padding: $margin-tablet;

    &__logo{
      display: flex;
      width: list.nth($topbar-logo-tablet, 1);
      height: list.nth($topbar-logo-tablet, 2);
    }

    &__place,
    &__phone{
      font-size: $font-size-m;
      line-height: $line-height-m;
    }
  }

  @include on-desktop {
    padding: $margin-desktop;

    &__logo{
      display: flex;
      width: list.nth($topbar-logo-desktop, 1);
      height: list.nth($topbar-logo-desktop, 2);
    }

    &__place,
    &__phone{
      font-size: $font-size-m;
      line-height: $line-height-m;
    }

    &__info{
      &.is-visible{
        opacity: 1;
        visibility: visible;
      }
    }
  }
}