@import './utils/_variables';
@import './utils/_mixins';
@import './blocks/_page.scss';
@import './blocks/_header.scss';
@import './blocks/_top-bar.scss';
@import './blocks/_icons.scss';
@import './blocks/_menu.scss';
@import './blocks/_nav.scss';
@import './blocks/_main.scss';
@import './blocks/_museum-hours.scss';
@import './blocks/_exhibition.scss';
@import './blocks/_explore.scss';
@import './blocks/_contact.scss';
@import './blocks/_footer.scss';


