// Example breakpoints
$tablet: 768px;
$desktop: 1200px;

@mixin on-tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
