// Typography
$font-family: Cinzel, serif;
$font-weight-med: 700;
$font-weight-min: 400;

// Colors
$white: #fff;
$accent-main: #D12D35;

// Layout
$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;

// Font styles
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-m-lg: 22px;
$font-size-l: 24px;
$font-size-xl: 48px;
$font-size-header-m: 40px;
$font-size-header-t: 64px;
$font-size-header-d: 80px;

// Line heights
$line-height-xs: 16px;
$line-height-s: 20px;
$line-height-m: 27px;
$line-height-m-lg: 22px;
$line-height-lg: 30px;
$line-height-l: 48px;
$line-height-header-m: 40px;
$line-height-header-t: 64px;
$line-height-header-d: 80px;

// Margins
$margin-desktop: 50px 120px 0;
$margin-tablet: 50px 72px 0;
$margin-mobile: 20px 25px 0;

// Letter spacing
$ls-normal: 0;
$ls-medium: 1px;
$ls-big: 2px;

// Icons
$icon-size: 32px;
$icon-gap-dt: 55px;
$icon-gap-m: 24px;

// Section
$section-gap-inline-d: 120px;
$section-gap-inline-t: 72px;
$section-gap-inline-m: 20px;
$section-gap-d: 140px;
$section-gap-t: 140px;
$section-gap-m: 100px;

// --------------------------------Header-------------------------------------
// Header padding
$header-padding-mobile: 8px 16px;
$header-padding-tablet: 8px 16px;
$header-padding-desktop: 8px 16px;

// Header font sizes
$header-font-size: (
  mobile: 40px,
  tablet: 64px,
  desktop: 80px
);

// Header line heights
$header-line-height: (
  mobile: 40px,
  tablet: 64px,
  desktop: 80px
);

// Header title top margin
$header-title-margin: (
  mobile: 141px,
  tablet: 141px,
  desktop: 83px
);

// Header title color & font weight
$header-title-color: $white;
$header-title-font-weight: $font-weight-med;

// --------------------------------Top-bar-------------------------------------
// Topbar text
$topbar-text-font-weight: $font-weight-med;
$topbar-text-color: $white;

// TopBar Gaps
$topbar-icons-gap-mobile: 16px;
$topbar-place-gap: 8px;

// TopBar Logo
$topbar-logo-mobile: 64px 46px;
$topbar-logo-tablet: 87px 65px;
$topbar-logo-desktop: 87px 65px;

// TopBar info offset
$topbar-info-offset-mobile: calc((list.nth($topbar-padding-mobile, 1) - 1em) / 2);
$topbar-info-offset-tablet: calc((list.nth($topbar-padding-tablet, 1) - 1em) / 2);
$topbar-info-offset-desktop: calc((list.nth($topbar-padding-desktop, 1) - 1em) / 2);

// --------------------------------Menu-------------------------------------
// Menu text
$menu-text-font-weight: $font-weight-med;

// Menu Padding
$menu-padding-mobile: $header-padding-mobile;
$menu-padding-tablet: $header-padding-tablet;
$menu-padding-desktop: $header-padding-desktop;

// Menu Gaps
$menu-row-gap: 8px;
$menu-call-to-order-padding-bottom: 7px;

// --------------------------------Nav-----------------------------------------
// Nav list
$nav-list-margin-bottom: 48px;
$nav-list-gap: 32px;

// Nav link underline
$nav-link-underline-thickness: 1px;
$nav-link-underline-offset: 8px;

// --------------------------------Museum-hours--------------------------------
// MuseumHours text
$museumhours-text-font-weight: $font-weight-med;

// MuseumHours columns
$museumhours-columns-mobile: 2;
$museumhours-columns-tablet: 6;
$museumhours-columns-desktop: 12;

// MuseumHours Gaps
$museumhours-column-gap: 24px;
$museumhours-block-gap: 24px;
$museumhours-list-gap: 8px;

// MuseumHours Titles
$museumhours-title-container-margin-bottom: 32px;
$museumhours-title-letter-spacing: -1.5px;
$museumhours-titles-margin-bottom: 15px;

// MuseumHours paddings
$museumhours-plan-padding-bottom: 2px;

// MuseumHours Closed on
$museumhours-list-closed-on-margin-top: 16px;
$museumhours-list-closed-on-margin-bottom: 24px;

// --------------------------------Exhibition---------------------------------
// Exhibition text
$exhibition-text-font-weight: $font-weight-med;

// Exhibition Columns
$exhibition-columns-mobile: 2;
$exhibition-columns-tablet: 6;
$exhibition-columns-desktop: 12;

// Exhibition Gaps
$exhibition-column-gap: 24px;
$exhibition-row-gap: 48px;
$exhibition-header-row-gap: 12px;

// Exhibition Button
$exhibition-button-height: 56px;

// Exhibition Titles
$exhibition-title-letter-spacing: -1.5px;

// Exhibition Images
$exhibition-image-height-mobile-1-2-6-7: 130px;
$exhibition-image-height-mobile-3-4-5: 87px;
$exhibition-image-height-tablet-1-2-6-7: 186px;
$exhibition-image-height-tablet-3-4: 284px;
$exhibition-image-height-desktop-all: 320px;

// --------------------------------Explore-----------------------------------
// Explore text
$explore-text-font-weight: $font-weight-med;

// Explore Columns
$explore-columns-mobile: 1;
$explore-columns-tablet: 6;
$explore-columns-desktop: 12;

// Explore Gaps
$explore-column-gap: 24px;
$explore-row-gap: 48px;

// Explore Titles
$explore-title-letter-spacing: -1.5px;

// --------------------------------Contact-----------------------------------
// Contact text
$contact-text-font-weight: $font-weight-med;

// Contact Columns
$contact-columns-mobile: 2;
$contact-columns-tablet: 6;
$contact-columns-desktop: 12;

// Contact Gaps
$contact-column-gap: 24px;
$contact-row-gap: 48px;

// Contact Titles
$contact-title-letter-spacing: -1.5px;

// Contact Padding
$contact-padding-bold: 16px;
$contact-padding-norm: 8px;

// Contact Heights
$contact-input-height: 48px;
$contact-textarea-height: 144px;
$contact-button-height: 56px;
